<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Trabajo 1</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quos vero
        quo similique? Expedita corporis vitae provident accusamus deserunt
        labore autem porro fuga id, suscipit veniam facere soluta magni vero?
      </p>
      <li>
        <h1>Trabajo 1</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quos vero
        quo similique? Expedita corporis vitae provident accusamus deserunt
        labore autem porro fuga id, suscipit veniam facere soluta magni vero?
      </p>
      <li>
        <h1>Trabajo 1</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quos vero
        quo similique? Expedita corporis vitae provident accusamus deserunt
        labore autem porro fuga id, suscipit veniam facere soluta magni vero?
      </p>
    </ul>
  </div>
</div>
<div class="linea"></div>
