<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/0bf604c5-0da0-4630-a8d1-8a7a7e90aebb.jpg" class="img-fluid" id="fotodeperfil"/>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h5><p id="nombre">Patricio Oscar Romero</p></h5>
    <p>Desarrollador FullStack Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>
         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias iusto
        quod odio ipsa quos similique provident! Voluptatum ex iusto ad architecto
         perferendis nobis at numquam distinctio asperiores. Ab, maxime. Ducimus!
        </p>
    </span>
  </div>
</div>

<div class="linea">

</div>
