<div class="row">
    <div class="contenedor">
        <div class="login">
            <img src="../../../assets/APLogo.png" alt="logo" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/logotipo-de-instagram.png" id="instagram"></a>
                <a href=""><img src="../../../assets/signo-de-github.png" id="github"></a>
                <a href=""><img src="../../../assets/logotipo-de-linkedin.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/signo-de-twitter.png" id="twitter"></a>

                <a href="#"><button type="button"  class="btn btn-outline-light ingresar">Ingresar</button></a>
            </div>
            
        </div>
    </div>
</div>

