<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"

    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"

    [showUnits]="false"
    [showTitle]="true"

    [startFromZero]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"

    [imageSrc]="'../assets/css.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"

    [showUnits]="false"
    [showTitle]="true"

    [startFromZero]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"

    [imageSrc]="'../assets/javascript.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="130"

    [showUnits]="false"
    [showTitle]="true"

    [startFromZero]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"

    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"

    [showUnits]="false"
    [showTitle]="true"

    [startFromZero]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"

    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"

    [showUnits]="false"
    [showTitle]="true"

    [startFromZero]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"

    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"

    [showUnits]="false"
    [showTitle]="true"

    [startFromZero]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress>
  </div>
  
</div>

<div class="linea"></div>

